@import url('https://fonts.googleapis.com/css?family=Leckerli+One');


#view-saved{
  color:black;
  position:relative; 
}

#view-saved:hover {
  opacity: .7;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
.navbar {

}

h1.text-center {
color: turquoise;
font-family: 'Leckerli One';
}