#view-saved{
  color:black;
  position:relative; 
}

#view-saved:hover {
  color:white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
.navbar {
  background: #E6DADA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #274046, #E6DADA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #274046, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

border-color: #274046;
}

h1.text-center {
color:#e20404;
}